@keyframes changeHeight{
    0%{
        height: 0vh;
    }
    100%{
        height: 100vh;
    }
}

@keyframes blinking{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}

@keyframes rotateframe1 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes rotateframe2 {
    0%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(540deg);
    }
}

*{
    margin: 0;
    padding: 0;
}
body{
    transition: all 1s;
    height: 4444px;
    /* animation: changeHeight 2s ease 1s; */
    overflow-x: hidden;
}

.loader{
    /* transition: none; */
    z-index: -1;
    display: flex;
    position: absolute;
    /* background-color: #243642; */
    width: 100vw;
    height: 100vh;
    /* animation: changeHeight 1s ease; */
}

.loader .bar{
    width: 16.67vw;
    /* height: 100%; */
    height: 0;
    background-color: #243642;
    /* animation: changeHeight 2s ease; */
}


/* main */

main{
    /* height: 85vh; */
    padding: 150px 0;
    z-index: 200;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
main .intro{
    height: 100%;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .intro .left{
    display: flex;
    flex-direction: column;
    margin: 0 1vw;
    /* align-items: center; */
}
main .intro .left h1{
    color: white;
    font-size: 6vw;;
}

main .intro .right{
    /* width: ; */
    width: 20vw;
    height: 20vw;
    margin: 0 1vw;
    position: relative;
    border-radius: 900px;
    padding: 10px;
    overflow: hidden;
}
main .intro .right .profile-img{
    width: 100%;
    height: 100%;
    /* box-shadow: 2px 2px 20px black; */
    /* border: 7px solid black; */
    border-radius: 900px;
    /* background: transparent; */
    position: relative;
    background-color: #223746;
    box-shadow: 2px 2px 5px black;
    
}
main .intro .right::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: -1; */
    width: 21vw;
    height: 21vw;
    background: conic-gradient(transparent, transparent, transparent, #395468);
    overflow: hidden;
    animation: rotateframe1 2s linear infinite;
}
main .intro .right::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 21vw;
    height: 21vw;
    background: conic-gradient(transparent, transparent, transparent, #395468);
    overflow: hidden;
    transform: rotate(180deg);
    animation: rotateframe2 2s linear infinite;
}



.description{
    padding: 1.5vw 0;
    height: 50vh;
    background-color: black;
    color: #F2E5BF;
    text-align: center;

}

.description h1{
    font-size: 3vw;
    text-decoration: underline;    
}

.description .desc{
    width: 60%;
    /* height: 40%; */
    margin: 4vw auto;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.opacity-0{
    opacity: 0;
}


.container{
    display: flex;
    margin: 0.5vw 0;
    white-space: pre;
    height: 2.5vw;
}

.text{
    transition: none;
    color: white;
    font-size: 5vw;
    font-weight: 1000;
    /* color: #243642; */
    color: #F2E5BF;
}

.blink{
    transition: none;
    /* height: 1.5vw; */
    border: 0.3vw solid #F2E5BF;
    margin: 0.5vw 6px;
    padding: 2vw 0;
    /* margin: 1vw 0; */
    /* border-radius: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: blinking 1s ease infinite; */

}




@media (width<=1092px){
    main .intro{
        width: 90%;
    }
}

@media (width <= 600px) {
    .loader{
        height: 65vh;
    }
    main{
        height: 15vh;
    }
    main .intro{
        /* margin: 0 0 6% 0; */
        height: 100%;
        flex-direction: column-reverse;
        justify-content: space-between;
        /* justify-content: space-evenly;
        align-items: center; */
    }

    .main .intro .left{
        margin: 3vw 0;
    }

    
   
    main .intro .right{
        /* padding: 19vw; */
        width: 20vw;
        height: 20vw; 
        /* border-radius: ; */
        margin: -15.5vw 0;
    }
    main .intro .right .profile-img{
        width: 20vw;
        height: 20vw;
        box-shadow: 2px 2px 20px black;
    }
    main .intro .right::after{
        width: 26vw;
        height: 26vw;
        animation: none;
        background: none;
    }

    main .intro .right::before{
        width: 25.5vw;
        height: 25.5vw;
        animation: none;
        background: none;
    }

    main .intro .left{
        text-align: center;
        margin: 6vw 0 0 0;
        /* height: 30vh; */
    }

    .description{ 
        height: 17.5vh;
    }
} 

/* @media (width<=600px) {
    main{
        height: 45vh;
    }
} */


@media (width < 500px){
    main .intro .right{
        margin: -15vw 0;
    }
    main .intro .right{
        width: 25vw;
        height: 25vw;
    }
    main .intro .right .profile-img{
        width: 25vw;
        height: 25vw;
    }
}

@media (width <= 375px) {
    /* .loader{
        height: 45vh;
    } */
    /* main{

    } */
    main .intro .right{
        margin: -20vw 0;
        width: 32vw;
        height: 32vw;
    }
    main .intro .right .profile-img{
        width: 32vw;
        height: 32vw;
    }
}

/* @media (height < 670px) {
    main .intro .right{
        margin: -13.5vw 0;
        width: 32vw;
        height: 32vw;
    }
    main .intro .right .profile-img{
        width: 32vw;
        height: 32vw;
    }

} */