@keyframes preloader{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.preloader{
    z-index: 200;
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

.preloader::before{
    content: " ";
    position: absolute;
    height: 15vh;
    width: 15vh;
    background-color: black;
    border: 10px solid white;
    border-radius: 900px;
    border-left-color: black;
    border-right-color: black;
    animation: preloader 2s linear infinite;

}